<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>
        <h1>{{today.toDateString()}}</h1>
      </ion-label>
      <ion-badge color="success">Arqueo actual</ion-badge>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p><b>Responsable:</b> Pepe Ruiz</p>
        <p><b>Tecnico a cargo:</b> Juan Perez</p>
        <p><b>Fecha de inicio:</b> 20/05/2022</p>
        <p><b>Fecha de finalizacion:</b> 20/06/2022</p>
        <p><b>Catidad de FileProduct:</b> 200</p>
        <p><b>Cantidad de ScannedProduct:</b> 195</p>
        <p><b>Valace:</b> Faltan 5</p>
      </ion-label>
      <div class="height100">
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-item>
    <div class="pading10">
      <ion-button color="main-color" expand="block">
        Termianr Arqueo
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
