<div class="main" *ngIf="page">
  <div>
    <ion-card>
      <ion-card-content>
          <ion-item lines="none">
            <ion-label>
              <h1>Fecha: {{arching.startDate}}</h1>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <p><b>Responsable:</b> {{arching.referrer}}</p>
              <p><b>Fecha de inicio:</b> {{arching.startDate}}</p>
              <p><b>Fecha de finalizacion:</b> {{arching.endDate}}</p>
              <p><b>Catidad de FileProduct:</b> 200</p>
              <p><b>Cantidad de ScannedProduct:</b> 195</p>
              <p><b>Valace:</b> Faltan 5</p>
            </ion-label>
          </ion-item>
          <div class="pading10" *ngIf="end === 'Sin finalizar'">
            <ion-button color="main-color" expand="block" (click)="closeArching()">
              Terminar Arqueo
              <ion-icon name="checkmark-done-circle-outline"></ion-icon>
            </ion-button>
          </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <app-detail-arching></app-detail-arching>
  </div>
</div>
