<div class="cardControl height98" *ngIf="page">
  <div class="main">
    <div>
      <ion-item class="searchBar width100" lines="none">
        <ion-label><ion-icon name="search-outline"></ion-icon></ion-label>
        <ion-input placeholder="Search" animated="true"></ion-input>
      </ion-item>
    </div>
    <div class="table">
      <ion-content>
        <ion-list *ngFor="let detailArching of detailArchingList">
          <ion-item>
            <ion-label>
              <h2><b>Nombre del producto</b> {{detailArching.productName}}</h2>
              <p><b>Marca:</b> {{detailArching.mark}}</p>
              <p><b>Cantidad escaneada:</b> {{detailArching.scannedProductAmount}}</p>
              <p><b>Cantidad de archivo:</b> {{detailArching.fileProductAmount}}</p>
              <p><b>Persona a cargo:</b> Jerónimo Alvarez</p>
              <ion-badge color="danger">Valance: valance</ion-badge>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </div>
</div>
